#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-container-title {
  font-size: 3.2em;
  line-height: 1.1;
}

.app-container-md {
  display: flex;
}

.md {
  margin: 0;
  text-align: start;
}

.md-h-one {
  border-bottom: 2px solid azure;
}

.md-h-two {
  border-bottom: 1px solid azure;
}
